<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
<appSettings>
  <add key="s_browser_a" value="C:\Program Files\Mozilla Firefox\firefox.exe"/>
  <add key="s_browser" value="C:\FirefoxPortable64\FirefoxPortable.exe"/>
  <add key="s_work" value="C:\temp\"/>
  <add key="s_work_a" value="bar-vert-1.html"/>
</appSettings>
</configuration>
